**/.venv
**/venv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/*.egg-info
**/.pytest_cache

**/.git
**/.gitignore
**/.env

**/*.log
**/*.swp
**/*.swo
**/*.save
**/.vscode
**/.idea
**/.DS_Store

**/ml_pipeline
**/distilled_model_checkpoints
**/*.csv
**/.ipynb_checkpoints

**/mlruns
**/*.db
**/*.db-journal

**/.terraform
**/*.tfstate
**/*.tfstate.backup
**/.terraform.lock.hcl

**/*.png
**/*.jpg
**/*.jpeg
**/archive
**/testing
